{
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "useTabs": true
}
